
body{
    font-family: 'Times New Roman', Times, serif;
    font-size: medium;
    text-align: left;
    background-color: #7D9C9F;
    padding: 0;
    margin: 0;
    font-size: x-large;

    
}
    p{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: medium;
    text-align: center;
    background-color: rgb(218, 78, 22);
}

header#başlık{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #BDD8DA;
    color: black;
    padding: 20px ;
    text-align: center;
    
 
    
}
header#dipnot{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #BDD8DA;
    color: black;
    padding: 20px ;
    text-align: center;
    
 
    
}
header img{
    height: 250px;
    width: 250px;
    border-radius: 200px;
    margin: 25px;
    border: 5px solid black;
}
header h3{
    display: inline;
    text-align: center;
}
nav a {
    margin: 15px ;
    color: black;
    
}

div#Hakkımda{
    display: block;
    margin: 20px;
    padding: 20px;
    border: 5px rgb(50, 54, 50);
    background-color: #DFEFF0;
   border-radius: 10px;
    
}
div#Projeler{
    display: block;
    margin: 20px;
    padding: 20px;
    border: 5px rgb(50, 54, 50);
    background-color: #DFEFF0;   
    border-radius: 10px;
}
div#iletişim{
    display: block;
    margin: 20px;
    padding: 20px;
    border: 5px rgb(50, 54, 50);
    background-color: #DFEFF0;
    
    border-radius: 10px;
}
div#yetenekler{
    display: block;
    margin: 20px;
    padding: 20px;
    border: 5px rgb(50, 54, 50);
    background-color: #DFEFF0;
    
    border-radius: 10px;
}
 div h1 {
    color: rgb(207, 72, 9);

}
div a:visited{
    color: rgb(163, 53, 173);
}
 /* 
 Renk kodları bu sayfadan uyarlanmıtır.
 https://tr.pinterest.com/pin/559642691210624602/*/
